<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "container/bootstrap&axios.html" %}
    <style>
        .form{
            width : 336px
        }
    </style>
    <title>{{title}}</title>
</head>

<body>
    {% include "container/nav.html" %}
    <div class="container">
        <div class="row justify-content-center mt-5 mb-3">
            <div class="col-auto">
                <h3>로그인</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <form id="login-form" class="col-auto my-2 form">
                <div class="mb-3">
                    <label for="user-id" class="form-label">아이디</label>
                    <input type="text" class="form-control login-form" id="user-id" maxlength="20">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" class="form-control login-form" id="password" maxlength="20">
                </div>
                <button id="submit-btn" type="button" class="btn btn-primary mt-1" style="float : right" disabled>로그인</button>
            </form>
        </div>
    </div>
    <script src="./js/nav.js"></script>
    <script>
        let idLen, pwdLen
        window.onload = function(){
            const submitBtn = document.getElementById('submit-btn')
            const inputId = document.getElementById('user-id')
            const inputPassword = document.getElementById('password')
            const inputNickname = document.getElementById('nickname')
            const loginForm = document.getElementsByClassName('login-form')

            for(let form of loginForm){
                form.addEventListener('keyup', () => {
                    if(event.keyCode == 13){
                        submitBtn.click()
                    }
                })
            }

            function setBtnStatus(){
                if(idLen >= 4 && pwdLen >= 6){
                    submitBtn.disabled = false
                }
                else{
                    submitBtn.disabled = true
                }
            }
            
            inputId.addEventListener('input', function(e){
                idLen = e.target.value.length
                setBtnStatus()
            })

            inputPassword.addEventListener('input', function(e){
                pwdLen = e.target.value.length
                setBtnStatus()
            })

            submitBtn.addEventListener('click', async function(e){
                const userId = inputId.value
                const password = inputPassword.value

                const res = await axios.post('/auth/login',{
                    userId,
                    password,
                })

                if(res.data.success){
                    location.href = location.search.split('=')[1]
                }
                else{
                    alert(res.data.message)
                }
            })
        }
    </script>
</body>

</html>