<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "container/bootstrap&axios.html" %}
    <link href="./css/player.css" rel="stylesheet">
    <link href="./css/upscroll.css" rel="stylesheet">
    <title>{{title}}</title>
    <style>
        @media (max-width : 991px) {
            .play-list-item {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 48px;
                font-size: 15px;
            }
        }

        .playlist-item-component {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 24px;
            font-size: 15px;
        }

        .playlist-item-category {
            color: gray;
            padding-top: 1px"

        }

        .list-btn {
            width: 20px;
            height: 20px;
        }

        .unactive-list {
            background-color: lightgrey;
        }

        #list-popular {
            text-align: center;
            border-right: 1px solid lightgrey;
        }

        #list-recent {
            text-align: center;
        }
    </style>
</head>

<body>
    {% include "container/nav.html" %}
    <div class="container-fluid">
        <div class="row">
            {% include "container/player.html" %}
            <div id="main" class="col">
                {% if user and user.id %}
                <div id="my-playlist" class="row">
                    <strong class="my-2" style="font-size: 18px;">내 재생목록</strong>
                    <hr style="margin-bottom : 6px">
                    {% for list in myPlaylist %}
                    <div>
                        <div class="playlist-title my-1 border-bottom px-1 pb-1">
                            <div class="row">
                                <div class="col" data-bs-toggle="collapse" href="#myList-{{loop.index}}" role="button">
                                    <span style="font-size: 16px;">{{list.name}}</span>
                                    <img class="list-btn" src="./images/expand-more.png">
                                </div>
                                <div class="row me-1 px-0 col-auto">
                                    <div class="col-auto px-1" role="button" onclick="playBgm(null,'{{list.id}}')">
                                        <img class="list-btn" src="./images/play-playlist.png">
                                    </div>
                                    <div class="col-auto px-1" role="button"
                                        onclick="refreshMyList('{{list.id}}', '{{loop.index}}')">
                                        <img class="list-btn" src="./images/refresh.png">
                                    </div>
                                    <div class="col-auto px-1" onclick="deleteList('{{list.id}}')" role="button">
                                        <img class="list-btn" src="./images/delete-btn.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="myList-{{loop.index}}" class="collapse">
                            {% set listLoopIdx = loop.index %}
                            {% for item in list.PlayListItems %}
                            <div class="row border-bottom py-1 mx-1">
                                <div class="col row play-list-item" onclick="playBgm('{{item.Bgm.id}}','{{list.id}}')"
                                    role="button">
                                    <div class="col-lg-6 col-md-12 playlist-item-component" style="font-size: 15px;">
                                        {{ item.Bgm.name }}
                                    </div>
                                    <div class="col-lg-6 col-md-12 playlist-item-component playlist-item-category">
                                        {{ item.Bgm.category1 }} > {{ item.Bgm.category2}}
                                        {% if item.Bgm.category3 %} > {{ item.Bgm.category3 }}{% endif %}
                                    </div>
                                </div>
                                <div class="row col-auto">
                                    <div class="bgmId-{{item.Bgm.id}} add-playlist col-auto px-1" role="button"
                                        data-bs-toggle="modal" data-bs-target="#listSelectModal">
                                        <img class="list-btn" src="./images/add-playlist.png">
                                    </div>
                                    <div class="col-auto px-1" onclick="deleteListItem('{{list.id}}','{{item.id}}', '{{listLoopIdx}}')"
                                        role="button">
                                        <img class="list-btn" src="./images/delete-btn.png">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor%}
                </div>
                <div class="mb-4"></div>
                {% endif %}
                <div id="list-selector" class="row mb-1 border-top border-bottom">
                    <div id="list-popular" class="col py-1" role="button">
                        <strong class="my-2" style="font-size: 18px;">인기 재생목록</strong>
                    </div>
                    <div id="list-recent" class="unactive-list col py-1" role="button">
                        <strong class="my-2" style="font-size: 18px;">최신 재생목록</strong>
                    </div>
                </div>
                <div id="list-popular-body" class="row">
                    {% for list in popularPlaylist %}
                    <div>
                        <div class="playlist-title my-1 border-bottom px-1 pb-1">
                            <div class="row">
                                <div class="col" data-bs-toggle="collapse" href="#popularList-{{loop.index}}"
                                    role="button">
                                    <span class="mx-1">{{loop.index}}</span>
                                    <span style="font-size: 16px;">{{list.name}}</span>
                                    <img class="list-btn" src="./images/expand-more.png">
                                </div>
                                <div class="row me-1 px-0 col-auto">
                                    <div class="col-auto px-1">
                                        <img class="list-id-{{list.id}} like-btn-popular list-btn" role="button"
                                            onclick="changeLike('{{list.id}}')" src="./images/unlike-star.png">
                                    </div>
                                    <div class="bgmId-{{item.Bgm.id}} col-auto px-1" role="button"
                                        onclick="playBgm(null,'{{list.id}}')">
                                        <img class="list-btn" src="./images/play-playlist.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="popularList-{{loop.index}}" class="collapse">
                            {% for item in list.PlayListItems %}
                            <div class="row border-bottom py-1 mx-1">
                                <div class="col row play-list-item" onclick="playBgm('{{item.Bgm.id}}','{{list.id}}')"
                                    role="button">
                                    <div class="col-lg-6 col-md-12 playlist-item-component" style="font-size: 15px;">
                                        {{ item.Bgm.name }}
                                    </div>
                                    <div class="col-lg-6 col-md-12 playlist-item-component playlist-item-category">
                                        {{ item.Bgm.category1 }} > {{ item.Bgm.category2}}
                                        {% if item.Bgm.category3 %} > {{ item.Bgm.category3 }}{% endif %}
                                    </div>
                                </div>
                                <div class="row col-auto">
                                    <div class="bgmId-{{item.Bgm.id}} add-playlist col-auto px-1" role="button"
                                        data-bs-toggle="modal" data-bs-target="#listSelectModal">
                                        <img class="list-btn" src="./images/add-playlist.png">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor%}
                </div>
                <div id="list-recent-body" class="row d-none">
                    {% for list in recentPlaylist %}
                    <div>
                        <div class="playlist-title my-1 border-bottom px-1 pb-1">
                            <div class="row">
                                <div class="col" data-bs-toggle="collapse" href="#recentList-{{loop.index}}"
                                    role="button">
                                    <span style="font-size: 16px;">{{list.name}}</span>
                                    <img class="list-btn" src="./images/expand-more.png">
                                </div>
                                <div class="row me-1 px-0 col-auto">
                                    <div class="col-auto px-1">
                                        <img class="list-id-{{list.id}} like-btn-recent list-btn" role="button"
                                            onclick="changeLike('{{list.id}}')" src="./images/unlike-star.png">
                                    </div>
                                    <div class="col-auto px-1" role="button" onclick="playBgm(null,'{{list.id}}')">
                                        <img class="list-btn" src="./images/play-playlist.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="recentList-{{loop.index}}" class="collapse">
                            {% for item in list.PlayListItems %}
                            <div class="row border-bottom py-1 mx-1">
                                <div class="col row play-list-item" onclick="playBgm('{{item.Bgm.id}}','{{list.id}}')"
                                    role="button">
                                    <div class="col-lg-6 col-md-12 playlist-item-component" style="font-size: 15px;">
                                        {{ item.Bgm.name }}
                                    </div>
                                    <div class="col-lg-6 col-md-12 playlist-item-component playlist-item-category">
                                        {{ item.Bgm.category1 }} > {{ item.Bgm.category2}}
                                        {% if item.Bgm.category3 %} > {{ item.Bgm.category3 }}{% endif %}
                                    </div>
                                </div>
                                <div class="row col-auto">
                                    <div class="bgmId-{{item.Bgm.id}} add-playlist col-auto px-1" role="button"
                                        data-bs-toggle="modal" data-bs-target="#listSelectModal">
                                        <img class="list-btn" src="./images/add-playlist.png">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor%}
                </div>
                <div class="row justify-content-center">
                    <span role="button" class="col-auto border border-2 border-dark rounded py-1 my-2"
                        onclick="addNextList()">더보기</span>
                </div>
            </div>
        </div>
        <div id="bottom-blank">
        </div>
    </div>
    {% include "container/addPlaylist.html" %}
    {% include "container/upscroll-btn.html" %}
    <script src="./js/nav.js"></script>
    <script src="./js/player.js"></script>
    <script src="./js/playlist.js"></script>
</body>

</html>