#upscroll-btn {
    background-color: white;
    border: 1px solid black;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 12px;
    width: 27px;
    height: 27px;
}

#bottom-blank {
    height: 0;
}
@media(max-width : 991px){
    #upscroll-btn {
        background-color: white;
        border: 1px solid black;
        position: fixed;
        bottom: 56px;
        right: 0;
        padding: 0;
        margin: 12px;
        width: 27px;
        height: 27px;
    }

    #bottom-blank {
        height: 56px;
    }
}